@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: url('../imagens/paisagem.avif') no-repeat left center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    background: url('../imagens/infinix.png') no-repeat;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    transform: translate(0px, -1px);
    border: 2px solid rgba(255, 255, 255, 0.534);
    transition: transform 0.5s;
}

iframe#tela {
    position: relative;
    border-radius: 10px;
    left: 164px;
    top: 50px;
    width: 174px;
    height: 401px;
}